<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf8">
    <title>Подтверждение транзакции</title>
</head>
<body style="margin:0; padding:0; background-color:#f1f1f1; font-family: sans-serif;">
<table role="presentation" width="100%" cellpadding="0" cellspacing="0" style="max-width:600px; margin:0 auto; background:#fff;">
    <tr>
        <td style="padding: 2em; text-align:center;">
            <h1 th:text="'Владельцу ' + ${firstName} + ' счета'"></h1>
            <h1>Спасибо за подтверждение</h1>
        </td>
    </tr>
</table>
</body>
</html>